@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');


body{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif ;

}
li{
    list-style: none;
}
a{
    text-decoration:none ;
}
header a{
    color: #000;
}
header{
    background: url(./png/pexels-tiff-ng-2097616.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 716px;
    padding-top: 5px;
}
nav{
    overflow: hidden;
    width: 85%;
    margin-top: 10px;
    
    font-weight: bold;
}
ul{
    margin: 0px;
    padding: 0px;
}
#topnav{
    float: right;
    margin: 20px 40px;
    font-size: 1.5em;
}
#beja{
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
header h3{
    text-align: center;
    font-size: 1.5em;
    
}
header h1{
    margin-top: 200px;
    font-size: 3em;
    text-align: center;
}
#one{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#logo{
    color: #050a30;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 3%;
    text-align: center;

}



hr{
width: 30%;
height: 0.1vh;
border: 0;
background-color: #050a30;
margin: 0px 0px;
}
#accueil{
    background-color: #f5f5f5;
    height: 300px;
    
}
#center{
   width: 50%;
    margin: 25px auto;
    font-size: 1.2em;
}
.tou{
padding-top: 30px;
}
#pservice{
   margin-bottom: 40px;
   
  text-align: center;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex a{
    
    margin: 0;
    padding: 0;
   background: url(./png/image-principale.JPG) 50% 50%;
    background-repeat : no-repeat ;
    background-size: cover;
    margin: 15px;
    border-radius: 5px;
}

.cone{
    max-width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    opacity: 0;
    

}
.zindex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transform: scale(0.8);
    
}

.cone:hover{
    opacity: 1;
    max-width: 400px;
    height: 300px;
    z-index: 10;
    transform: scale(1);
    background-size: 150%;
    transition: 0.3s  ease;
}

/* .zindex{
    opacity: 0;
    scale: (0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .zindex:hover{
    background-size: 150%;
    opacity: 1;
    z-index: 10;
    transform: scale(1);
    background-size: 150%;
    transition: 1s  ease;
} */


.htrois{
    color: #fff1fe;
    font-size: 2em;
    
    
}
.pservice{
    
    
    color: #fff1fe;
    font-size: 1.2em;
    margin-top: 5px;
}

.cdeux{
    width: 400px;
    height: 300px;
}
    

.ctrois{
    width: 400px;
    height: 300px;
}


/*************footer**********/

footer{
    background-color:#075e54 ;
    width: 100%;
    height:520px; 
}
.topfoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    

}
footer a{
    color: #fff1fe;
}
.flexfoot{
    display: flex;
     margin-left: 40px;
}
.flexfoot a {
    display: flex;
    margin: 15px;
    font-size: 1.2em;
    width: fit-content;
    
}
#sante,#transport,#route,#docuperdu,#actu{
    width: 200px;
    margin: 10px;
    
    
}
#titre{
    text-align: start;
    font-size: 1.5em;
    margin: 10px 0;
    
}

#acce{
    color: #fff1fe;
    font-size: 1.7em;
    margin-left: 40px;

}
.flexprin{
    display: flex;
}
#droite {
    
    width: 300px;
    margin-left: 50px;
    margin-top: -50px;
     
}
#centre{
    display: flex;
}
#droite h3{
    text-align: center;
    font-size: 1.7em;
    color: #fff1fe;

}
#milieu{
    margin: 10px 12px;
    float: left;
    width: fit-content;
    font-size: 2em;
}

#condition{
    margin: 30px 70px;
    font-size: 1.3em;
    
}
#copy{
    text-align: center;
    font-size: 1.7em;
    margin-top: 70px;
    transition: color 1s ease;
    color: #333;
    cursor: default;
}
#copy:hover{
    color:#f5f5f5 ;
}